*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
	outline: none;
	border: none;
}
:root {
  --color-yellow: #dac326;
  --padding-from-edges: 178px;
  --custom-transition: all .3s;
}

body{
	font-size: 16px;
	font-family: 'Montserrat';
	background: url('../img/body-bg.jpg') no-repeat;
	background-position: top 800px center
}
.container-fluid{
	width: 100%;
}
.d-flex{
	display: flex;
}
h2{
	color: var(--color-yellow);
	font-size: 46px;
}
.button{
	display: inline-flex;
	height: 50px;
	border: 1px solid #555555;
	color: #555555;
	align-items: center;
	justify-content: center;
	padding: 5px 40px;
	font-size: 24px;
	transition: var(--custom-transition)
}
.button:hover{
	padding: 5px 60px 5px 20px;
	background: var(--color-yellow);
	border: 1px solid var(--color-yellow);
	color: #fff;
}

.main-screen{
	height: 100vh;
	background: url("../img/main-screen_bg.jpg") no-repeat;
	background-size: cover;
	position: relative;
	overflow: hidden;
}
.main-screen .main-screen-title{
	padding-top: 30vh;
}
.main-screen .main-screen-title>hr{
	width: 30%;
	height: 20px;
	background: var(--color-yellow);
	border: none;
}
.main-screen .main-screen-title>h1{
	margin-left: var(--padding-from-edges);
	color: #fff;
	font-size: 56px;
	font-family: 'Montserrat';
	font-weight: 800;
	max-width: 50%
}
.burger{
	margin-right: var(--padding-from-edges);
	width: 50px;
	height: 50px;
	margin-top: 40px;
	float: right;
	position: relative;
	z-index: 10;
}
.burger>span{
	position: absolute;
	left: 0;
	height: 2px; width: 100%;
	background: #fff;
	transition: var(--custom-transition);
	overflow: hidden;
}
.burger>span:after{
	position: absolute;
	right: -50px;
	content: "";
	width: 50px;
	height: 2px;
	background: var(--color-yellow);
	transition: var(--custom-transition)
}
.burger:hover>span:after{
	right: 0;
}
.burger>span:nth-child(1){
	top: 11px;
}
.burger>span:nth-child(2){
	top: 24px;
}
.burger>span:nth-child(3){
	top: 37px;
}
.burger:hover>span{
	/*background: var(--color-yellow);*/
}
.burger.active>span:nth-child(1){
	top: 25px;
	transform: rotate(45deg);
}
.burger.active>span:nth-child(2){
	opacity: -0;
}
.burger.active>span:nth-child(3){
	top: 25px;
	transform: rotate(-45deg);
}
.main-screen-menu{
	/*display: none;*/
	background: url('../img/menu-bg.jpg');
	background-size: cover;
	position: absolute;
	top: 0; right: -100%;
	height: 100vh; width: 100%;
	text-align: right;
	padding-top: 120px;
	overflow: hidden;
	transition: var(--custom-transition)
}
.main-screen-menu.active{
	right: 0;
}
.main-screen-menu>.bg-white{
	position: absolute;
	top: 0; left: 0;
	width: 100%; height: 100%;
	background: #fff;
	transition: var(--custom-transition);
	transition-delay: .3s
}
.main-screen-menu.active>.bg-white{
	width: 0;
	transition-delay: 0
}
.main-screen-menu ul{
	transition: all .6s;
}

.main-screen-menu>ul>li{
	margin-top: 20px;
}
.main-screen-menu>ul>li>a{
	color: #fff;
	font-family: 'Montserrat';
	font-weight: 800;
	font-size: 48px;
	padding-right: var(--padding-from-edges);
	position: relative;
	overflow: hidden;
	transition: var(--custom-transition);
	
}
.main-screen-menu>ul>li>a:hover{
	margin-right: -80px;
	padding-left: 80px;
	z-index: 2;
}
.main-screen-menu>ul>li>a:after{
	content: "";
	position: absolute;
	top: 0; right: -100%;
	width: 0;
	height: 100%;
	background: var(--color-yellow);
	transition: var(--custom-transition);
	
}
.main-screen-menu>ul>li>a:hover:after{
	width: 100%;
	right: 0;
	z-index: -1;
}
.main-screen-menu li>ul{
	display: none;
}
ul.current{
	position: absolute;
	top: 120px; right: 0;
	transform: translateX(100%);
	transition: var(--custom-transition);
}
ul.current>li{
	list-style: none
}
.main-screen-menu .back{
	margin-right: var(--padding-from-edges);
	font-size: 32px;
	color: #fff;
	transition: var(--custom-transition);
	cursor: pointer;
}
.main-screen-menu .back>span{
	margin-right: 20px;
	transition: margin-right .3s
}
.main-screen-menu .back:hover{
	padding-right: 20px;
	color: var(--color-yellow);
}
.main-screen-menu .back:hover>span{
	margin-right: 40px;
}

.about-competition{
	padding: 80px 0 0;
}
.about-competition>.about-photos, .about-competition>.about-text{
	flex-basis: 50%;
}

.about-competition>.about-photos{
	padding-left: var(--padding-from-edges);
	overflow: hidden;
}
.about-photo-item{
	display: block;
	height: 340px;
	width: 60%;
	position: relative;
}
.about-photo-item:last-child{
	margin-top: 20px;
}
.about-photo-item>.image{
	width: 100%; height: 100%;
	position: absolute;
	top: 0; left: 0;
	background: grey;
	transition: var(--custom-transition);
	overflow: hidden;
}
.about-photo-item>.image>img{
	height: 100%;
}
.about-photo-item>.title{
	position: absolute;
	bottom: 75px;
	left: 40px;
	display: inline;
	/*width: 150%;*/
	transition: var(--custom-transition);
	font-size: 36px;
	font-weight: 800;
	color: var(--color-yellow);
}
.about-photo-item:hover>.image{
	left: 40px;
	opacity: 0.8;
}
.about-photo-item:hover>.title{
	left: 0;
}
.about-competition .section-heading{
	align-items: center;
}
.about-competition .section-heading>hr{
	height: 20px;
	background: var(--color-yellow);
	flex: 1;
	margin-left: 20px;
}
.about-competition>.about-text>.text{
	font-family: 'Roboto Slab';
	margin-top: 40px;
	padding-right: var(--padding-from-edges);
}
.about-competition>.about-text>.button{
	margin-top: 20px;
}

.partners{
	padding: 80px 0;
}
.partners>.section-title{
	width: 50%;
	justify-content: space-between;
	align-items: center;
}
.partners>.section-title>hr{
	height: 20px;
	flex: 1;
	margin-right: 20px;
	background: var(--color-yellow);
}
.partners>.items{
	justify-content: space-between;
	align-items: center;
	padding: 0 var(--padding-from-edges);
	margin-top: 80px;
}
.partners-item{
	flex-wrap: wrap;
	justify-content: center;
	flex-basis: 40%;
	cursor: pointer;
}
.partners-item>.image{
	text-align: center;
	transition: var(--custom-transition);
}
.partners-item>.title{
	margin-top: 40px;
	font-size: 36px;
	color: #555555;
	text-align: center;
	font-weight: 800;
	transition: var(--custom-transition);
}
.partners-item:hover>.image{
	filter: grayscale(.8);
}
.partners-item:hover>.title{
	opacity: 0.8;
}

.footer{
	background: #383e4a;
	height: auto;
	padding: 40px;
}
.footer>.d-flex{
	justify-content: space-between;
}
.bottom-menu li{
	list-style: none
}
.bottom-menu li>a{
	color: #fff;
	font-size: 22px;
	font-family: 'Roboto Slab';
	transition: var(--custom-transition)
}
.bottom-menu li>a:hover{
	color: var(--color-yellow);
	text-shadow: 0 0 1px var(--color-yellow)
}
.bottom-menu>ul>li>ul a{
	font-size: 16px;
}
.bottom-menu>ul{
	display: flex;
	
}
.bottom-menu>ul>li{
	margin-right: 20px;
}
.bottom-menu>ul>li>ul{
	margin-top: 20px;
	max-width: 90%
}
.social{
	justify-content: flex-end;
}
.social>a{
	height: 40px; width: 40px;
	border-radius: 50%;
	background: #fff;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #383e4a;
	font-size: 24px;
	font-weight: 800;
	transition: var(--custom-transition)
}
.social>a:not(:first-child){
	margin-left: 20px;
}
.social>a:hover{
	background: var(--color-yellow);
	box-shadow: 0 0 5px var(--color-yellow);
}
.author{
	text-align: center;
	color: #fff;
	margin-top: 80px;
	font-family: 'Roboto Slab';
	font-size: 18px;
}
.author>a{
	color: #fff;
	transition: var(--custom-transition);
	/*font-family: 'Roboto Slab';*/
	/*font-size: 18px;*/
}
.author>a:hover{
	text-decoration: underline;
	color: var(--color-yellow);
}

@media screen and (max-width : 992px){
	body{
		background: #fff;
	}
	.main-screen .main-screen-title>h1{
		font-size: 36px;
	}
	:root {
	  --padding-from-edges: 20px;
	}
	.main-screen-menu{
		background: #899b9b;
	}
	.main-screen-menu>ul>li>a{
		font-size: 32px;
	}
	.main-screen{
		background: url('../img/main-screen_bg_mob.jpg');
		background-size: cover;
	}
	.about-competition{
		flex-wrap: wrap;
	}
	.about-competition>.about-photos, .about-competition>.about-text{
		flex-basis: 100%
	}
	.about-competition>.about-photos{
		order: 2
	}
	.about-competition>.about-text{
		order: 1;
		padding-left: var(--padding-from-edges);
	}
	.about-competition>.about-photos{
		padding-left: 0;
		margin-top: 40px;
	}
	.about-photo-item{
		width: 100%;
		height: 540px;
	}
	.about-photo-item>.image{
		display: flex;
		align-self: center;
		justify-content: center;
	}
	.partners>.section-title{
		width: 100%;
	}
	.partners>.items{
		flex-wrap: wrap;
	}
	.partners-item{
		flex-basis: 100%
	}
	.footer{
		height: auto;
	}
	.footer>.d-flex{
		flex-wrap: wrap;
		justify-content: center;
	}
	.bottom-menu>ul{
		display: block;
		text-align: center;
	}
	.bottom-menu>ul>li{
		margin-right: 0;
	}
	.bottom-menu>ul>li>ul{
		margin-top: 0;
		margin-bottom: 20px;
	}
	.social{
		margin-top: 40px;
		justify-content: center;
	}
	.author{
		margin-top: 40px;
	}
}